numpy
pandas
networkx
opencv-python
tensorstore
scipy

pymongo
tqdm

# For visualization
neuroglancer

# Sofima
git+https://github.com/google-research/sofima.git@5c5642cded4b33ec7e975afc3d85f15c0126fb2e